.card {
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-align: center;
  transition: all 0.25s;
  text-decoration: none;
  background-color: #b4ad95a8;
}

.card img {
  width: 150px;
  border-radius: 10%;
  height: 100px;
  padding: 5px;
  box-shadow: 2px 2px 5px #b4ad95a8;
}

.link {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
  color: white;
}

.card:hover {
  /* background-color:#5bc0de; */
  transform: scale(1.1);
}